@import url(https://fonts.googleapis.com/css?family=Poiret+One);

html,
body {
  background-color: #240F52; 
  /*background-image: linear-gradient(0deg, #36295e, #1c1045);*/
  background-image: linear-gradient(0def, #004,#008);
  height: 100%;
  overflow: hidden;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.outer-ring {
  position: absolute;
  left: calc(50% - 222px);
  height: 250px;
  width: 250px;
  /*background-image: linear-gradient(135deg, #000050 0%, #212529 5%, #17a2b8 15%, #8a8a8a 50%, #dc3545 100%);*/
  background-image: linear-gradient(0def, #004,#008);
  border-radius: 50%;
  
  /*  Rotate  */
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  /*top: calc(50% - 249px);*/
  top: 132px;
  animation-timing-function: linear;
}

.inner-ring {
  position: absolute;
  left: calc(50% - 212px);
  height: 230px;
  width: 230px;
  /*background-image: linear-gradient(0deg, #36295e, #1c1045);*/
  background-image: linear-gradient(0def, #004,#008);
  border-radius: 50%;
  /*top: calc(50% - 240px);*/
  top: 141px;
}

@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}


#text {
    position: absolute;
    top: 231px;
    font-size: 39px;
    font-weight: bold;
    color: hsl(254, 100%, 99%);
    text-shadow: 1px 1px hsla(0,0%,5%,1), -1px -1px hsla(0,0%,5%,1);
    font-family: 'Poiret One', cursive;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    min-width: 344px;
}
